// Variables
@import '_var.scss';
@import '_global.scss';

// Functions
@import 'functions/_functions.scss';

// // Variables
// @import '_var.scss';

// Global !defaults
// @import '_global.scss';

// Elements
@import 'elements/_elements.scss';


// Index page styles
@import 'pages/index/_index.scss';

// Pages
@import 'pages/_pages.scss';



// ---------------------------------------------------------------------- //
// Obsolete styles to be purged after design review

html,
body {
	height: 100%;
}
