// Variables
@import '_var.scss';
@import '_global.scss';

// Functions
@import 'functions/_functions.scss';

// // Variables
// @import '_var.scss';

// Global !defaults
// @import '_global.scss';

// Elements
@import 'elements/_elements.scss';

<<<<<<< HEAD
// Index page styles
@import 'pages/index/_index.scss';

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
=======
// Pages
@import 'pages/_pages.scss';



// ---------------------------------------------------------------------- //
// Obsolete styles to be purged after design review

html,
body {
	height: 100%;
>>>>>>> feature/the-gardens/_base
}
